[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adea"]
	path = adea
	url = https://github.com/cran/adea
[submodule "orloca"]
	path = orloca
	url = https://github.com/cran/orloca
[submodule "orloca.es"]
	path = orloca.es
	url = https://github.com/cran/orloca.es
[submodule "RcmdrPlugin.orloca"]
	path = RcmdrPlugin.orloca
	url = https://github.com/cran/RcmdrPlugin.orloca
[submodule "RcmdrPlugin.UCA"]
	path = RcmdrPlugin.UCA
	url = https://github.com/cran/RcmdrPlugin.UCA
